<h1>Change Log</h1>
<p><pre>
v1.6.0  [TIMODOPEN-427] Updating Admob SDK to 6.10.0, Building with TiSDK 3.2.3.GA, update documentation
        Replaced <code>publisherId</code> with <code>adUnitId</code>
        Deprecated <code>testing</code>
        Added <code>testDevices</code></p>
<p>v1.5.0  [TIMODOPEN-242] Updating Admob SDK to 6.4.2 (Removed all uses of UDID)</p>
<p>v1.4.0  [TIMODOPEN-212] Updating Admob SDK to 6.2.1, Building with TiSDK 2.1.3.GA, update documentation</p>
<p>v1.3    Fixed crash on iOS 4.3 [MOD-600]</p>
<p>v1.2    Upgraded to SDK 5.0.5 [MOD-410]</p>
<p>v1.1    Fixed ad retention issue [MOD-320]</p>
<p>v1.0    Initial Release</p>