<h1>Inmobi Module for Appcelerator</h1>
<h2>Description</h2>
<p>This is the Titanium Inmobi module to fetch ads from InMobi network</p>
<h2>Requirements</h2>
<ul>
<li>Titanium Studio 3.1.1GA (mininum)</li>
</ul>
<p>You will need Titanium Studio to build cross platform mobile applications.  More information about the Titanium Studio can be found at <a href="http://docs.appcelerator.com/titanium/3.0/#!/guide/Quick_Start">http://docs.appcelerator.com/titanium/3.0/#!/guide/Quick_Start</a></p>
<p>Regarding Support for IOS7 64 bit:
<a href="http://docs.appcelerator.com/titanium/release-notes/?version=3.1.3.GA#ios_support">http://docs.appcelerator.com/titanium/release-notes/?version=3.1.3.GA#ios_support</a>
SDK release notes say that: This Release targets and supports 32-bit iOS apps, which will run correctly on all Apple iOS devices including the 64-bit iPhone 5S. A future SDK will provide support for 64-bit iOS apps.</p>
<p>We will update the module with 64-bit once SDK supports 64-bit iOS apps.</p>
<h2>Downloading Module</h2>
<p>You can download the Titanium Module from the following links
<a href="https://www.dropbox.com/sh/3zpsgyhl537owxf/_S8uvZrM5_">https://www.dropbox.com/sh/3zpsgyhl537owxf/<em>S8uvZrM5</em></a></p>
<h2>Installing Module</h2>
<p>There are two ways of installing module. </p>
<ul>
<li>
<p><strong>Local Installation</strong>: With this approach, module will be available only to the specific Titanium project. You need to copy/drag the Titanium InMobi module zip to the Titanium Project root folder.</p>
</li>
<li>
<p><strong>Global Installation</strong>: With this approach, module will be available to all the Titanium projects in the system. You will need to copy the Titanium InMobi module zip to Titanium Modules Folder.</p>
</li>
</ul>
<p>For reference, please visit Titanium Guide
<a href="http://docs.appcelerator.com/titanium/latest/#!/guide/Using_a_Module">http://docs.appcelerator.com/titanium/latest/#!/guide/Using_a_Module</a></p>
<h2>Configuring Module</h2>
<p>After installing the module, you need to configure your Titanium Project configuration file. Update your tiapp.xml file by adding the following line in the modules block.</p>
<pre><code>&lt;modules&gt;
       &lt;module&gt;ti.inmobi&lt;/module&gt;
&lt;/modules&gt;
</code></pre>
<p>You should add following permissions for Android in the tiapp.xml</p>
<pre><code>&lt;android xmlns:android="http://schemas.android.com/apk/res/android"&gt;
    &lt;tool-api-level&gt;14&lt;/tool-api-level&gt;
    &lt;manifest&gt;
        &lt;application android:hardwareAccelerated="true"&gt;
            &lt;activity android:configChanges="keyboardHidden|orientation|keyboard|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:name="com.inmobi.androidsdk.IMBrowserActivity"/&gt;
        &lt;/application&gt;
        &lt;uses-permission android:name="android.permission.ACCESS_GPS"/&gt;
        &lt;uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS"/&gt;
        &lt;uses-permission android:name="android.permission.ACCESS_LOCATION"/&gt;
        &lt;uses-permission android:name="android.permission.READ_PHONE_STATE"/&gt;
        &lt;uses-permission android:name="android.permission.INTERNET"/&gt;
        &lt;uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/&gt;
        &lt;uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/&gt;
        &lt;uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/&gt;
        &lt;uses-permission android:name="android.permission.CALL_PHONE"/&gt;
        &lt;uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/&gt;
    &lt;/manifest&gt;
&lt;/android&gt;
</code></pre>
<h2>Accessing the Inmobi Module</h2>
<p>To access this module from JavaScript, you would do the following:</p>
<pre><code>var Inmobi = require("ti.inmobi");
</code></pre>
<p>The Inmobi variable is a reference to the Module object.  <br />
</p>
<h2>Functions</h2>
<h3>Inmobi.initWithParams</h3>
<p>This is the first method that should be invoked before making any request. This has to be called once for an application.</p>
<p>Usage:</p>
<pre><code>Inmobi.initWithParams(appId, optionalParams);
</code></pre>
<p><em>Params</em></p>
<p><em><strong>appId</strong></em> (Type:String) You can get the appId from www.inmobi.com.</p>
<p><em><strong>optionalParams</strong></em> (Type:JSON Object) optionalParams will help in ad relavance. Please check the <a href="#constants">CONSTANTS</a> section of the page.</p>
<h3>Inmobi.createBannerAd</h3>
<p>This method will return you a bannerAd object.</p>
<p>Usage:</p>
<pre><code>Inmobi.createBannerAd(bannerAdParams);
</code></pre>
<ul>
<li>
<p><strong>refresh</strong></p>
<p>bannerAd.refresh()
   Show method will refresh the ad.</p>
</li>
</ul>
<p><em>Params</em></p>
<p><em><strong>bannerAdParams</strong></em> (Type: JSON Object)</p>
<pre><code>| -------------------------- | -------------------------------------------- |
| Key                        | Values                                       |
| -------------------------- | -------------------------------------------- |
| adSize                     | Inmobi.CONSTANTS.ADSIZE_320X50               |
|                            | Inmobi.CONSTANTS.ADSIZE_300X250              |
|                            | Inmobi.CONSTANTS.ADSIZE_468X60               |
|                            | Inmobi.CONSTANTS.ADSIZE_728X90               |
|                            | Inmobi.CONSTANTS.ADSIZE_120X600              |
| -------------------------- | -------------------------------------------- |
| appId                      | This is optional. If you want to pass appId  |
|                            | different from the one used during           |
|                            | Initiliazation                               |
| -------------------------- | -------------------------------------------- |   
| backgroundColor            | Standard colors or hex value in string       |
| -------------------------- | -------------------------------------------- |
| top                        | (mandatory)                                  |
| -------------------------- | -------------------------------------------- |
| left                       | (mandatory)                                  |
| -------------------------- | -------------------------------------------- |
| width                      | (mandatory) Should be same as the            |
|                            | adSize width                                 |
| -------------------------- | -------------------------------------------- |
| height                     | (mandatory) Should be same as the            |
|                            | adSize height                                |
| -------------------------- | -------------------------------------------- |
| refreshInterval            | default 60 seconds                           |
| -------------------------- | -------------------------------------------- |
| keywords                   | comma separated values that provides         |
|                            | context to the ad                            |                       
| -------------------------- | -------------------------------------------- |
| additionalParams           | Type: JSON Object. key/vaue pairs of strings |
|                            | that aren't covered by the network Params    |
| -------------------------- | -------------------------------------------- |
| refTagKey                  |                                              |
| -------------------------- | -------------------------------------------- |
| refTagValue                |                                              |
| -------------------------- | -------------------------------------------- |
| disableHarwareAcceleration | (AndroidSpecific):                           |
|                            | Inmobi.CONSTANTS.TRUE                        |
|                            | Inmobi.CONSTANTS.FALSE                       |
| -------------------------- | -------------------------------------------- |
</code></pre>
<p><strong>Exampe:</strong></p>
<pre><code>var bannerAd = Inmobi.createBannerAd({
  "backgroundColor":"red",
  "top": 0,
  "left": 0,
  "width":320,
  "height":50,
  "adSize": Inmobi.CONSTANTS.ADSIZE_320X50,
  "refreshInterval": "-1",
  "keywords": "games, chess, magazines",
  "additionalParams": { "myname": "nkapser" },
  "refTagKey": "from",
  "refTagValue": "inmobi"
});
window.add(bannerAd);
</code></pre>
<p>To access window object in alloys, refer to <a href="http://docs.appcelerator.com/titanium/3.0/#!/guide/Alloy_Controllers">http://docs.appcelerator.com/titanium/3.0/#!/guide/Alloy_Controllers</a></p>
<h3>Inmobi.createInterstitialAd</h3>
<p>This method will return you a interstitialAd object.</p>
<p>Usage:</p>
<pre><code>Inmobi.createInterstitialAd(interstitialAdParams);
</code></pre>
<ul>
<li>
<p><strong>load</strong></p>
<p>interstitialAd.load()
   Load method will load the interstitial ad.</p>
</li>
<li>
<p><strong>show</strong></p>
<p>interstitialAd.show()
   Show method will (load if not loaded and) display interstitial ad.</p>
</li>
</ul>
<p><em>Params</em></p>
<p><em><strong>interstitialAdParams</strong></em> (Type: JSON Object)</p>
<pre><code>| -------------------------- | -------------------------------------------- |
| Key                        | Values                                       |
| -------------------------- | -------------------------------------------- |
| keywords                   | comma separated values that provides         |
|                            | context to the ad                            |                       
| -------------------------- | -------------------------------------------- |
| additionalParams           | Type: JSON Object. key/vaue pairs of strings |
|                            | that aren't covered by the network Params    |
| -------------------------- | -------------------------------------------- |
| disableHarwareAcceleration | (AndroidSpecific):                           |
|                            | Inmobi.CONSTANTS.TRUE                        |
|                            | Inmobi.CONSTANTS.FALSE                       |
| -------------------------- | -------------------------------------------- |
</code></pre>
<p><strong>Exampe:</strong></p>
<pre><code>var interstitialAd = Inmobi.createInterstitialAd({
  // Optional Params
  additionalParams: {},
  keywords: 'music, jazz, guitar' // provides App View context.
});

// Android needs to get the current activity.
if (OS_ANDROID){
   window.add(interstitialAd);
}

interstitialAd.load();
interstitialAd.show();
</code></pre>
<h3><a name="constants"></a>Inmobi.CONSTANTS</h3>
<p>InMobi plugin has included constants property. This property holds table of constants.</p>
<p>You can use this table to set the AdSize and network paramters to get better relavent ads.</p>
<p>Constants for AdSizes:</p>
<pre><code>|---------------------------------|
| AdSize                          |
|---------------------------------|
| Inmobi.CONSTANTS.ADSIZE_320X50  |
| Inmobi.CONSTANTS.ADSIZE_300X250 |
| Inmobi.CONSTANTS.ADSIZE_468X60  |
| Inmobi.CONSTANTS.ADSIZE_728X90  |
| Inmobi.CONSTANTS.ADSIZE_120X600 |
|---------------------------------|
</code></pre>
<p>Constants for Network Param values during initialization (initWithParams):</p>
<pre><code>| -------------------- | -------------------------------------------- |
| Key                  | Values                                       |
| -------------------- | -------------------------------------------- |
| tiVersion            | Ti.version                                   |
| -------------------- | -------------------------------------------- | 
| logLevel             | Inmobi.CONSTANTS.LOGLEVEL_NONE               |
|                      | Inmobi.CONSTANTS.LOGLEVEL_DEBUG              |
|                      | Inmobi.CONSTANTS.LOGLEVEL_VERBOSE            |
| -------------------- | -------------------------------------------- |
| gender               | Inmobi.CONSTANTS.GENDER_NONE                 |
|                      | Inmobi.CONSTANTS.GENDER_MALE                 |
|                      | Inmobi.CONSTANTS.GENDER_FEMALE               |
| -------------------- | -------------------------------------------- |
| education            | Inmobi.CONSTANTS.EDUCATION_NONE              |
|                      | Inmobi.CONSTANTS.EDUCATION_HIGHSCHOOL        |
|                      | Inmobi.CONSTANTS.EDUCATION_COLLEGE           |
|                      | Inmobi.CONSTANTS.EDUCATION_BACHELORS_DEGREE  |
|                      | Inmobi.CONSTANTS.EDUCATION_MASTERS_DEGREE    |
|                      | Inmobi.CONSTANTS.EDUCATION_DOCTORIAL_DEGREE  |
|                      | Inmobi.CONSTANTS.EDUCATION_OTHER             |
| -------------------- | -------------------------------------------- |
| ethnicity            | Inmobi.CONSTANTS.ETHNICITY_NONE              |
|                      | Inmobi.CONSTANTS.ETHNICITY_MIXED             |                       
|                      | Inmobi.CONSTANTS.ETHNICITY_ASIAN             |
|                      | Inmobi.CONSTANTS.ETHNICITY_BLACK             |
|                      | Inmobi.CONSTANTS.ETHNICITY_HISPANIC          |
|                      | Inmobi.CONSTANTS.ETHNICITY_NATIVE_AMERICAN   |
|                      | Inmobi.CONSTANTS.ETHNICITY_WHITE             |
|                      | Inmobi.CONSTANTS.ETHNICITY_OTHER             |
| -------------------- | -------------------------------------------- |
| dob                  | format: dd-mm-yyyy                           |
| -------------------- | -------------------------------------------- |
| income               | Numeric (should in USD)                      |
| -------------------- | -------------------------------------------- |
| age                  | Range: 0-100                                 |
| -------------------- | -------------------------------------------- |
| maritialStatus       | Inmobi.CONSTANTS.MARITAL_STATUS_SINGLE       |
|                      | Inmobi.CONSTANTS.MARITAL_STATUS_DIVORCED     |
|                      | Inmobi.CONSTANTS.MARITAL_STATUS_ENGAGED      |
|                      | Inmobi.CONSTANTS.MARITAL_STATUS_RELATIONSHIP |
|                      | Inmobi.CONSTANTS.MARITAL_STATUS_UNKNOWN      |
| -------------------- | -------------------------------------------- |
| hasChildren          | Inmobi.CONSTANTS.TRUE                        |
|                      | Inmobi.CONSTANTS.FALSE                       |
| -------------------- | -------------------------------------------- |
| sexualOrientation    | Inmobi.CONSTANTS.SEXUAL_ORIENTATION_STRAIGHT |
|                      | Inmobi.CONSTANTS.SEXUAL_ORIENTATION_BISEXUAL |
|                      | Inmobi.CONSTANTS.SEXUAL_ORIENTATION_GAY      |
|                      | Inmobi.CONSTANTS.SEXUAL_ORIENTATION_UNKNOWN  |
| -------------------- | -------------------------------------------- |
| language             |   eng, tel, tam                              |
|                      | Language will have to be ISO-639-3 format    |
|                      | http://www-01.sil.org/iso639-3/iso-639-3.tab |
| -------------------- | -------------------------------------------- |
| postalCode           |   string                                     |
| -------------------- | -------------------------------------------- |
| areaCode             |   string                                     |
| -------------------- | -------------------------------------------- |
| interests            |   comma separated values                     |
| -------------------- | -------------------------------------------- |
| deviceIdMasks        | iOS:                                         |
| (array of values)    | Inmobi.CONSTANTS.EXCLUDE_VENDOR_ID           |
|                      | Inmobi.CONSTANTS.EXCLUDE_UDID                |
|                      |                                              |
|                      | Inmobi.CONSTANTS.EXCLUDE_ODIN1               |
|                      | Inmobi.CONSTANTS.EXCLUDE_FB_ATTR_ID          |
|                      | Inmobi.CONSTANTS.EXCLUDE_ADVERTISER_ID       |
|                      |                                              |
|                      | Android:                                     |
|                      | Inmobi.CONSTANTS.EXCLUDE_UM5                 |
|                      | Inmobi.CONSTANTS.INCLUDE_NONE                |
|                      | Inmobi.CONSTANTS.EXCLUDE_ODIN1               |
|                      | Inmobi.CONSTANTS.EXCLUDE_FB_ATTR_ID          |
| -------------------- | -------------------------------------------- |
</code></pre>
<h2>InMobi Analytics</h2>
<p>You can also use InMobi analytics with this plugin.</p>
<ul>
<li>
<p><strong>startSessionManually</strong>  Evoke startSession when the application is launched. Do this before any other event is recorded, preferably in the onCreate() or onResume lifecycle methods of the launcher Activity.</p>
<pre><code>Inmobi.analytics_startSessionManually();
</code></pre>
</li>
<li>
<p><strong>stopSessionManually</strong> Evoke endSession when the app is closed, typically in onDestroy() or onPause().</p>
<pre><code>Inmobi.analytics_stopSessionManually();
</code></pre>
</li>
<li>
<p><strong>beginSection</strong> Evoke this event when the user has started viewing/playing a new Section. This could be a tab or app content in case of non-gaming apps. This could be a level in case of gaming apps.</p>
<pre><code>Inmobi.analytics_beginSection("sectionName" [, params]);
</code></pre>
</li>
<li>
<p><strong>endSection</strong> Evoke this event when a user has finished viewing/playing a section.</p>
<pre><code>Inmobi.analytics_endSection("sectionName" [, params]);
</code></pre>
</li>
<li>
<p><strong>tagEvent</strong> Use tagEvent to record any arbitrary event that is not covered by the above APIs.</p>
<pre><code>Inmobi.analytics_tagEvent("eventName" [, params]);
</code></pre>
</li>
</ul>
<h2>EventListeners</h2>
<p>We have same callback names for banner ad and interstitial ad. You can bind them to bannerAd and interstitialAd objects.</p>
<ul>
<li>
<p><strong>onAdRequestCompleted</strong>
This callback is fired after receiving the ad response.</p>
</li>
<li>
<p><strong>onAdRequestFailed</strong>
This callback is fired when an adRequest fails. This response function includes event object that has the error message</p>
</li>
<li>
<p><strong>onClick</strong>
This event is fired when user clicks on the Ad.</p>
</li>
<li>
<p><strong>beforePresentScreen</strong>
This event is available only for iOS. This event is fired just before ad goes fullscreen. This callback is called for expandable and interstitial ads.</p>
</li>
<li>
<p><strong>beforeDismissScreen</strong>
This event is available only for iOS. This event is fired before dismissing the full screen view of the ad. This callback is called for expandable and interstitial ads.</p>
</li>
<li>
<p><strong>onDismissScreen</strong>
This event is fired after dismissing the full screen view of the ad. This callback is called for expandable and interstitial ads.</p>
</li>
<li>
<p><strong>onLeaveApplication</strong>
This event will be fired just before the application goes to the background because the user has clicked on an ad that will launch another application (such as the App Store).</p>
</li>
</ul>
<h2>Usage</h2>
<p>````</p>
<pre><code>var Inmobi = require('ti.inmobi');

Inmobi.initWithParams(appId, {
/* Set User Information - Optional (for better Ad Targeting) */
"logLevel": Inmobi.CONSTANTS.LOGLEVEL_DEBUG,
"gender": Inmobi.CONSTANTS.GENDER_MALE,
"education": Inmobi.CONSTANTS.EDUCATION_HIGHSCHOOLORLESS,
"ethnicity": Inmobi.CONSTANTS.ETHNICITY_ASIAN, 
"dob": "29-11-1984",
"income": "10000",
"age": "30",
"maritalStatus": Inmobi.CONSTANTS.MARITAL_STATUS_SINGLE,
"hasChildren": Inmobi.CONSTANTS.TRUE,
"sexualOrientation": Inmobi.CONSTANTS.SEXUAL_ORIENTATION_STRAIGHT,
"language": "eng",
"postalCode": "11111",
"areaCode": "435",
"interests": "swimming, adventure sports",
"deviceIdMasks": [Inmobi.CONSTANTS.EXCLUDE_ADVERTISER_ID, Inmobi.CONSTANTS.EXCLUDE_ODIN1, Inmobi.CONSTANTS.EXCLUDE_UDID]
});

// InMobi Banner AD with callback functions.
var bannerAd = Inmobi.createBannerAd({
  "backgroundColor":"red",
  "top": 0,
  "left": 0,
  "width":320,
  "height":50,
  "adSize": Inmobi.CONSTANTS.ADSIZE_320X50,
  "refreshInterval": "30",
  "keywords": "games, chess, magazines",
  "additionalParams": { "myname": "nkapser" },
  "refTagKey": "from",
  "refTagValue": "inmobi"
});

win.add(bannerAd);

bannerAd.addEventListener('onAdRequestCompleted', function(){
    Ti.API.info("banner Ad Request Completed!");
});
bannerAd.addEventListener('onAdRequestFailed', function(e){
    Ti.API.info("banner Ad Request Failed! "+e.message);
});
bannerAd.addEventListener('onClick', function(){
    Ti.API.info("Banner was clicked!");
});
bannerAd.addEventListener('beforePresentScreen', function(){
    Ti.API.info("Banner will go fullscreen!");
});
bannerAd.addEventListener('beforeDismissScreen', function(){
    Ti.API.info("Banner Ad will dismiss fullscreen!");
});
bannerAd.addEventListener('onDismissScreen', function(){
    Ti.API.info("Banner Ad dismissed fullscreen!");
});
bannerAd.addEventListener('onLeaveApplication', function(){
    Ti.API.info("Banner Ad will leave application!");
});
</code></pre>
<p>````</p>
<h2>Support</h2>
<p>http://www.inmobi.com/support/</p>
<h2>Copyright</h2>
<p>Copyright (c) 2013 InMobi. All rights reserved.</p>