<h1>AdwordsConversionTrackingTitaniumModule Module</h1>
<h2>Description</h2>
<p>This Titanium module wraps the Google mobile Ads Conversion tracking for iOS SDK from:<br />
<a href="https://developers.google.com/mobile-ads-sdk/docs/admob/conversion-tracking">https://developers.google.com/mobile-ads-sdk/docs/admob/conversion-tracking</a></p>
<p>It was created as per the Appcelerator Titanium iOS Module Development Guide:<br />
<a href="https://wiki.appcelerator.org/display/guides/iOS+Module+Development+Guide">https://wiki.appcelerator.org/display/guides/iOS+Module+Development+Guide</a></p>
<p>using Titanium sdk version 3.0.2</p>
<h2>Installing this module</h2>
<p>As per:<br />
<a href="http://docs.appcelerator.com/titanium/latest/#!/guide/Using_Titanium_Modules">http://docs.appcelerator.com/titanium/latest/#!/guide/Using_Titanium_Modules</a>,</p>
<p>download and unzip this module into your Titanium project:<br />
<a href="https://raw.github.com/cornflakesuperstar/adwords_conversion_tracking_titanium_module/master/com.geoplus.adwordsconversiontracking-iphone-0.1.zip">https://raw.github.com/cornflakesuperstar/adwords_conversion_tracking_titanium_module/master/com.geoplus.adwordsconversiontracking-iphone-0.1.zip</a></p>
<h2>Using this module</h2>
<pre><code>var adwords_tracker = require('com.geoplus.adwordsconversiontracking');
if(!Ti.Android) {
  // A non-repeatable conversion event
  adwords_tracker.pingGoogle({
    conversionId: '&lt; your id here &gt;', 
    label:        '&lt; your label here &gt;',
    value:        '&lt; your value here &gt;',
    isRepeatable: false
  });

  // A repeatable conversion event
  adwords_tracker.pingGoogle({
    conversionId: '&lt; your id here &gt;', 
    label:        '&lt; your label here &gt;',
    value:        '&lt; your value here &gt;',
    isRepeatable: true
  });
}
</code></pre>
<h2>Author</h2>
<p>Jason Kotchoff<br />
<a href="http://www.geoplus.com.au">http://www.geoplus.com.au</a></p>
<h2>License</h2>
<p>This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.</p>
<p>This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>
<p>You should have received a copy of the GNU General Public License
along with this program.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.</p>