<h1>Android Admob Google Play Module</h1>
<h2>Description</h2>
<p>This is a module that support AdMob google play services library. This support all types of banners and interstitial ad. </p>
<h2>Accessing the metal.admobgoogleplay module</h2>
<p>To access this module from js, you would do the following:</p>
<p>var admob = require("metal.admobgoogleplay");</p>
<p>the admob variable is a reference to the Module object.</p>
<h2>Properties</h2>
<pre><code>adSizeType --- the size of the banners, that support the following types

BANNER --- 320x50
RECTANGLE --- 300x250
FULLBANNER --- 480x60
LEADERBOARD --- 728x90
SMART --- Auto fit the side of the device 
INTERSTITIALAD --- full screen ad

publisherId --- the admob unit id, get it from admob.com
</code></pre>
<h1>Usage</h1>
<pre><code>--- Below is example of an ad display in the bottom of screen

var self = Titanium.UI.createWindow();
var admob = require("metal.admobgoogleplay");
var adv = admob.createView({
    bottom: 0,
    adSizeType: 'SMART',
    publisherId: 'YOUR_ADMOB_UNIT_ID',
    testing: false
});

self.add(adv);
self.open();

--- Interstitial Ad example

var inter = admob.createView({
    bottom: 0,
    adSizeType: 'INTERSTITIALAD',
    publisherId: 'YOUR_ADMOB_UNIT_ID',
    testing: false
});     
self.add(inter);
</code></pre>
<h1>Author</h1>
<p>Jason Chung --- jason.chung@gmail.com</p>
<h1>License</h1>
<p>Copyright (c) 2014 Jason Chung</p>