<h2>ATTRIBUTION</h2>

<h4>Extract HEX (RGB) color from UIColor</h4>

<p>This software contains Extract HEX (RGB) color from UIColor, available at <a href="http://softteco.blogspot.jp/2011/06/extract-hex-rgb-color-from-uicolor.html">http://softteco.blogspot.jp/2011/06/extract-hex-rgb-color-from-uicolor.html</a> and is used with permission from Alexey Shevchik</p>
