<h1>Ti.StyledLabel Module</h1>

<h2>Description</h2>

<p>Gives you the power of HTML and CSS without the full weight of a WebView.</p>

<p>Lightly wraps around a UIWebView to make it easy and quick for you to display HTML. This is intended for displaying
small snippets of HTML, like Tweets, to your users. It works best if you limit the number of Styled Label's you create.</p>

<h2>Solutions to Common Scenarios</h2>

<h3>Table of Tweets</h3>

<p>Problem: You need to display a lot of tweets (or other HTML) in a table in your app.</p>

<p>BAD Solution: Create one Styled Label per tweet. So if you have 200 tweets, you end up with 200 Styled Labels.</p>

<p>GOOD Solution: Create ONE Styled Label. Render all of the tweets together at once.</p>

<h3>Other Scenarios</h3>

<p>Are you facing a performance or functional issue with the Styled Label? Let us know and we will come up with a solution
together!</p>

<p>Send an email to <a href="mailto:info@appcelerator.com?subject=iOS%20StyledLabel%20Module">info@appcelerator.com</a> RE: StyledLabel.</p>

<h2>Getting Started</h2>

<p>View the <a href="http://docs.appcelerator.com/titanium/latest/#!/guide/Using_Titanium_Modules">Using Titanium Modules</a> document for instructions on getting
started with using this module in your application.</p>

<h2>Accessing the Ti.StyledLabel Module</h2>

<p>To access this module from JavaScript, you would do the following:</p>

<pre><code>var StyledLabel = require('ti.styledlabel');
</code></pre>

<h2>Functions</h2>

<h3><a href="label.html">Ti.StyledLabel.Label</a> Ti.StyledLabel.createLabel({...})</h3>

<p>Creates a <a href="label.html">Ti.StyledLabel.Label</a>.</p>

<p><strong>Note:</strong> Setting 'backgroundColor' on the label will override any background colors set in 'html'.</p>

<h2>Usage</h2>

<p>See example.</p>

<h2>Author</h2>

<p>Dawson Toth</p>

<h2>Module History</h2>

<p>View the <a href="changelog.html">change log</a> for this module.</p>

<h2>Feedback and Support</h2>

<p>Please direct all questions, feedback, and concerns to <a href="mailto:info@appcelerator.com?subject=iOS%20StyledLabel%20Module">info@appcelerator.com</a>.</p>

<h2>License</h2>

<p>Copyright(c) 2010-2013 by Appcelerator, Inc. All Rights Reserved. Please see the LICENSE file included in the distribution for further details.</p>
